@import '../../App.scss';

.header {
  margin-top: 30px;
  color: rgb(241, 7, 7);
  font-size: 40px;
  font-weight: bold;
}

.center {
  display: flex;
  justify-content: center;
  width: 100%;
}

.tableList {
  table-layout:fixed;
  border: 1px solid rgb(241, 7, 7);
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
}

.categoryFilter {
  margin-top: 20px;
  color: rgb(241, 7, 7);
}

select {
  margin-left: 20px;
  width: 100px;
  font-size: 15px;
  background-color: #f2f2f2;
}
.head {
  background-color: rgb(241, 7, 7);
  color: white;
  font-size: 20px;
  border: 1px solid black;  
}

.row>.tdList {
  padding: 0.4rem;
}

.row:nth-child(even) {
  background-color: #f2f2f2;
}

.tdList, .tdListwork {
  font-size: 15px;
  border-bottom: 1px solid black;
}

.tdList, .tdListpro {
  border: 1px solid black;
}

.cartAmount {
  width: 100px;
}

.cartAdd {
  color: white;
  background-color: rgb(241, 7, 7);
  border-radius: 20px;
  padding: 10px;
  border: 1px solid rgb(148, 2, 2);
  transition: all 0.3s ease-in;

&:hover { 
  cursor: pointer;
  color: rgb(241, 7, 7);
  background-color: #fff;
}
}

.cartList {
  table-layout:fixed;
  border-collapse: collapse;
  width: 50%;
  margin-top: 30px;
}

.cartDelete {
  width: 100px;
  background-color: rgb(241, 7, 7);
  color: white;
  border-radius: 20px;
  border: none;
  padding: 7px;
  transition: all 0.3s ease-in;
}

.makeOrder { 
  background-color: rgb(241, 7, 7);
  padding: 20px;
  text-decoration: none;
  border-radius: 40px;
  color: white;
  position: relative;
  left: 70%;
  transition: all 0.3s ease-in;
  
}

.orderp {
  font-size: 20px;
  text-align: center;
}

.orderpro {
  font-size: 12px;
}

.cartDelete:hover,.makeOrder:hover {
  color: rgb(241, 7, 7);
  border: 1px solid rgb(241, 7, 7);
  cursor: pointer;
  background-color: white;
} 

.orderEnd {
  width: 130px;
  background-color: rgb(241, 7, 7);
  color: white;
  border-radius: 20px;
  border: none;
  padding: 7px;
  transition: all 0.3s ease-in;

  &:hover {
    cursor: pointer;
    color: rgb(241, 7, 7);
    background-color: #fff;
    border: 1px solid rgb(241, 7, 7);
  }
}

@media screen  and (max-width: 1250px) { 
 .orderEnd { 
    font-size: 12px;
    width: 90px;
  }
  .orderp {
    font-size: 15px;
  }
}

@media screen  and (max-width: 1100px) {
  .cartDelete {
    width: 50px;
    font-size: 15px;
  }

  .tdList {
    font-size: 12px;
  }
  .cartList {
    width: 60%;
  }
  .cartAmount { 
    width: 50px;
    font-size: 12px;
  }
  .head {
    font-size: 15px;
  }
 
}

@media screen and (max-width: 700px)  {
 .head {
  font-size: 10px;
 }

 .cartAdd, .orderEnd, .cartAmount {
  width: 60px;
  font-size: 10px;
 }

 .tdList, .tdListwork, .orderpro, .orderp{
    font-size: 10px;
  }
    
}

