@import '../../App.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.body {
    width: 100vw;
    height: 100%;
}

.bimage {
    height: 80vh;
    background: url('../../images/tło1.webp') no-repeat center center/ cover;
    background-attachment: fixed;
}

.center {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    padding: 20px;
    color: rgb(133, 2, 2);
    transition: all 0.3s ease-in-out;
}

.header {
    font-weight: bold;
    font-size: 100px;
    margin-top: 20px;
    font-style: italic;
    
}

.info {
    margin-top: 50px;
    font-size: 30px;
    width: 800px;
}

.redirect {
    width: 350px;
    margin-top: 50px;
    background-color: rgb(133, 2, 2);
    color: white;
    border-radius: 25px;
    border: none;
    font-size: 30px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    box-shadow: 20px 10px 10px rgb(54, 53, 53);
    text-decoration: none !important;

&:hover {
    cursor: pointer;
    color: rgb(133, 2, 2);
    background-color: white;
    border: 1px solid rgb(133, 2, 2);
    
}
}
.contact {
    height: 12.7vh;
    background: black  no-repeat center center/ cover;
    background-attachment: fixed;
    color: white;
    text-align: center;
}

.contact_header {
    font-size: 30px;
    margin-left: 40px;
}
.contact_info {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-top: 10px;
}

@media screen and (max-height: 900px)  {
    .center {
        margin-left: 30px;
    }
    .header {
        font-size: 80px;
    }
    .info {
        font-size: 20px;
        width: 600px;

    }
    .redirect {
        height: 60px;
        font-size: 20px;
        width: 250px;
        margin-top: 30px;
    }
}
@media screen and (max-width: 1450px) {
    .center {
        margin-left: 30px;
    }
    .info {
        width: 400px;
        font-size: 20px;
    }

}

@media screen and (max-height: 700px)  {
    .redirect {
        display: none;
    }
    .info {
        font-size: 15px;
    }
}

@media screen and (max-width: 800px)  {
 .contact_info {
    font-size: 15px;
 }
    
}